<header class="row">
  <nav class="col-md-8 col-md-offset-2">
      <ul class="nav nav-pills">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/home']">Home</a></li>
          <li routerLinkActive="active"><a [routerLink]="['/about']">About</a></li>
          <li routerLinkActive="active"><a *ngIf="authService.loggedIn()" [routerLink]="['/profile']">Profile</a></li>
          <li routerLinkActive="active"><a *ngIf="authService.loggedIn()" [routerLink]="['/blog']">Blog</a></li>
          <li *ngIf="!authService.loggedIn()" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/auth']">Authentication</a></li>
          <li *ngIf="authService.loggedIn()" routerLinkActive="active"><a (click)="onLogoutClick()">Logout</a></li>
        </ul>
  </nav>
</header>